build --copt="-std=c++17"
build --copt="-flto"
build --copt="-fuse-linker-plugin"
build --copt="-ffat-lto-objects"

build --sandbox_writable_path=/home/tomasz/.ccache
build --incompatible_enable_cc_toolchain_resolution=true 